.back-button-custom-design {
  width: 8vw;
  position: relative;
  top: 15px;
  left: 2%;
}

.customize-design-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  input + fieldset {
    border-width: 1px;
    border-radius: 12px 12px 0 0;
  }

  .customize-design-dimensions-container {
    display: flex;
    justify-content: space-between;
    .design-dimension-field {
      width: 15vw;
    }
  }

  .list-container {
    padding-left: 20px;
    .list-item {
      font-weight: 500;
      font-size: 14px;
      color: #6f6f6f;
      line-height: 30px;
    }
  }

  .drag-drop-designs-container {
    width: auto;
    height: 38vh;
    border: 1px dashed #cdcbc9;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    .design-upload-container {
      margin-top: 30px;
      .design-upload {
        overflow: hidden;
        padding: 0 !important;
        height: 12vh;
        width: 12vw;
        border: 1px dashed #cdcbc9;
        border-radius: 6px;
      }
    }
  }

  .submit-custom-design-btn {
    background-color: #1b1b1b;
    color: #fff;
    margin-bottom: 10px;

    &:hover {
      color: #1b1b1b;
    }
  }
  .helper-text-custom-design-form {
    font-weight: 400;
    font-size: 14px;
    color: #6e6e6e;
    padding: 30px 0px;
    .alert-circle {
      height: 16px;
      width: 16px;
      margin-right: 10px;
      position: relative;
      top: 2px;
    }
  }
}
