.primary-input input + fieldset,
.primary-input textarea + fieldset {
  border-color: #DCDCDC;
  border-radius: 12px 12px 0 0;
}
.primary-input input:focus + fieldset,
.primary-input textarea:focus + fieldset {
  border-color: #000 !important;
}
.primary-input label.Mui-focused {
  color: #000;
}