.otp-content {
  text-align: center;
}
.otp-wrapper {
  margin: 0 auto;
  width: 500px;
}
.width-100 {
  display: block;
  width: 100% !important;
}
.margin-y-20 {
  margin: 20px 0 !important;
}
.btn-grey {
  background-color: #eee !important;
}
.width-auto {
  width: auto;
}


@media (max-width: 500px) {
  .otp-wrapper {
    width: 90%;
  }

  .main-logo {
    width: 200px;
  }
}