.following-page-container {
  min-height: 200px;
}
.following-artist-container {
  display: flex;
  position: relative;
  left: 50px;
  .following-artist-img-container {
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
  .following-artist-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .following-artist-details-container {
    position: relative;
    left: 16px;
    top: -5px;
    .following-artist-name {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #1B1918;
      margin: 0;
    }
    .following-artist-details {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #6F6F6F;
      margin: 6px 0 16px;
    }
  }

  .following-artist-btn-container {
    height: 40px;
    max-width: 131px;

    .following-artist-btn {
      height: 100%;
      border: 1px solid #1b1918;
      border-radius: 8px !important;
      font-weight: 600 !important;
      font-size: 18px !important;
      line-height: 24px !important;
    }
  }
}

.horizontal-break-container {
  padding: 0px 40px;
  .horizontal-break {
    border: none;
    height: 1px;
    background-color: #dcdcdc;
    margin: 24px 0px;
    width: 95vw;
  }
}
