.design-img-shop {
  width: 340px;
  height: 340px;
  position: relative;
  object-fit: cover;
}

.tags-design {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 3 !important;
  background-color: black !important;
  color: white !important;
  padding: 8px 16px !important;
  border-radius: 8px !important;
  opacity: 0.9;
  display: flex;
  align-items: center;

  img {
    margin-right: 5px;
  }
}

.design-img-container {
  max-width: 322px;
}

.design-artist-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 25px;
  align-items: center;
  position: relative;
  max-width: 340px;

  .design-artist-name-profilepic {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .design-artist-photo-container {
    .design-artist-photo {
      width: 32px;
      height: 32px;
    }
  }
  .design-artist-name-container {
    // position: absolute;
    // left: 12%;
    .design-artist-name {
      white-space: nowrap;
      font-weight: 600;
      font-size: 14px;
      margin-left: 8px;
    }
  }

  .design-utilities {
    display: flex;
    align-items: center;

    .heartImg {
      fill: none;

      &:hover {
        cursor: pointer;
        transform: scale(1.3);
        transition: transform 0.3s;
      }
    }
    .heartImg-active {
      fill: rgb(255, 1, 1);
      &:hover {
        cursor: pointer;
        transform: scale(1.3);
        transition: transform 0.3s;
      }
    }
  }
}

@media screen and (min-width: 310px) and (max-width: 599px) {
  .design-img-container {
    height: 100%;
    width: 100%;
  }

  .design-img-shop {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
  }

  .design-artist-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 25px;
    align-items: center;
    position: relative;
    max-width: 170px;

    .design-artist-name-profilepic {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .design-artist-photo-container {
      .design-artist-photo {
        width: 22px;
        height: 22px;
      }
    }
    .design-artist-name-container {
      // position: absolute;
      // left: 13% !important;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      width: 70px;
      .design-artist-name {
        font-weight: 600;
        font-size: 14px;
        margin-left: 5px;
      }
    }

    .design-utilities {
      display: flex;
      align-items: center;

      .heartImg {
        fill: none;

        &:hover {
          cursor: pointer;
          transform: scale(1.3);
          transition: transform 0.3s;
        }
      }
      .heartImg-active {
        fill: rgb(255, 1, 1);
        &:hover {
          cursor: pointer;
          transform: scale(1.3);
          transition: transform 0.3s;
        }
      }
    }
  }
}
