.manage-account{
  min-height: 55vh;
  h3{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #1B1918;
  }
  p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #1B1918;
  }
}

.delete-account{
  width: 200px;
  color: #ffff !important;
  background-color: black !important;
  display: block !important;
  margin-top: 30px !important;

  &:hover{
    background-color: #fff !important;
    color: black !important;
  }
}