.change-credentials
{
    
    min-height: 52vh;
    // margin-bottom: 2rem;
    overflow: hidden !important;
    padding: 10px 0px 0px 4px;
    .new-pass
    {
        margin-top: 7%;
    }
    .old-pass{
        margin-top: 7%;
    }
    .confirm-pass
    {
        margin-top: 7%;
        margin-bottom: 150px;
    }
}

 