.landing-page-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 20px;
}

.landing-page-authentications{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page-routes{
  display: flex;
  align-items: center;
}

.landing-page-route-links{
  margin-right: 24px !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #1B1918;
;
}

.toggler {
  display: none;
  width: 40px;
}
.toggler div {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #000;
  margin: 7px 0;
  transition: all .2s ease;
}
.backdrop {
  display: none;
  width: 100%;
  height: calc(100vh - 90px);
  background-color: rgba(0,0,0,.2);
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 500px) {
  .toggler {
    display: block;
    position: relative;
  }
  .landing-page-header {
    width: 100%;
    padding: 0 20px;
        background-color: #fff;
  }
  .landing-page-routes {
    position: fixed;
    background-color: #fff;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 85px);
    flex-direction: column;
    align-items: stretch;
    padding: 50px 30px;
    transition: all .2s ease-in-out;
    z-index: 10000;
  }
  .landing-page-authentications {
    flex-direction: column;
    align-items: stretch;
    border-top: 1px solid #ddd;
    padding: 10px 0;
  }
  .landing-page-authentications > *, .landing-page-routes > * {
    margin: 12px 0 !important;
  }

  .show {
    transform: translateY(0);
  }
  .hide-routes {
    transform: translateY(100%);
  }
  .display-block {
    display: block;
  }
  .display-none {
    display: none;
  }
  .opacity-0 {
    opacity: 0;
  }
  .rotate-right {
    position: absolute;
    top: 0;
    transform: rotate(225deg);
  }
  .rotate-left {
    position: absolute;
    top: 0;
    transform: rotate(-225deg);
  }
}