.padding-x-25 {
  padding: 0 25px;
}
.margin-right-auto {
  margin-right: auto;
}
.flex {
  display: flex;
}
.margin-x-10 {
  margin: 0 10px;
}

.pointer {
  cursor: pointer;
}
.carousel-items > * {
  display: flex;
  margin-right: 30px;
}
.margin-20 {
  margin: 40px 20px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress {
  color: #000 !important;
}