.forgot-password {
  &-container {
    margin: 100px auto;
    width: 500px;

    .forgot-password-title {
      font-weight: bold;
      margin: 20px auto;
      text-align: center;
    }
  }

  &-form {
    display: grid;
    grid-gap: 40px;
  }
}

@media (max-width: 500px) {
  .forgot-password {
    &-container {
      margin: 0 auto;
      padding: 30px;
      width: 100%;
    }

    &-form {
      grid-gap: 20px;
    }
  }
}
