$primary-black: #1B1918;
$secondary-black: #6F6F6F;
$button-gray: #F6F7F7;
$button-blue: #3579EA;
$line-gray: #DCDCDC;
$line-green: #00B879;
$success-green: #00B879;
$stepper-gray: #F6F6F6;
$white: #ffffff;
$profile-border: #CDCBC9;
